.board {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
}

.white-king {
  background-image: url(..\assets\Pieces\Basic\White\king.png);
  background-size: contain;
}

.black-king {
  background-image: url(..\assets\Pieces\Basic\Black\king.png);
  background-size: contain;
}

.white-rook {
  background-image: url(..\assets\Pieces\Basic\White\rook.png);
  background-size: contain;
}

.black-rook {
  background-image: url(..\assets\Pieces\Basic\Black\rook.png);
  background-size: contain;
}

.white-bishop {
  background-image: url(..\assets\Pieces\Basic\White\bishop.png);
  background-size: contain;
}

.black-bishop {
  background-image: url(..\assets\Pieces\Basic\Black\bishop.png);
  background-size: contain;
}

.white-queen {
  background-image: url(..\assets\Pieces\Basic\White\queen.png);
  background-size: contain;
}

.black-queen {
  background-image: url(..\assets\Pieces\Basic\Black\queen.png);
  background-size: contain;
}

.white-knight {
  background-image: url(..\assets\Pieces\Basic\White\knight.png);
  background-size: contain;
}

.black-knight {
  background-image: url(..\assets\Pieces\Basic\Black\knight.png);
  background-size: contain;
}

.white-pawn {
  background-image: url(..\assets\Pieces\Basic\White\pawn.png);
  background-size: contain;
}

.black-pawn {
  background-image: url(..\assets\Pieces\Basic\Black\pawn.png);
  background-size: contain;
}

.black {
  background-color: saddlebrown;
}

.white {
  background-color: sandybrown;
}

.selected {
  cursor: pointer;
  color: blue;
}
